

<link rel="import" href="difficulty-indicator.html">
<link rel="import" href="time-pretty.html">

<dom-module id="local-contractors">

    <template>

        <style include="iron-flex iron-flex-alignment">
        :host {
            display:flex;
            width:100%;
            --category-secondary: #310824;
        }

                .listItem {
                  @apply --layout-horizontal;

                  margin: 16px 16px 0 16px;
                  padding: 20px;
                  border-radius: 8px;
                  background-color: white;

                }

        paper-card {
            font-family: 'Ubuntu', Helvetica, Arial;
            height: 100%;
            position: relative;
                width: 100%;

            --paper-card-content: {
                padding: 0;
            };
        }

        paper-card a {
            color: var(--primary-text-color);
            overflow: hidden;
        }
        .primary {
          font-size: 16px;
          font-weight: bold;
        }

        .secondary {
          font-size: 14px;
          margin: 10px 0;
        }
        .third {
          font-size: 14px;
          margin: 10px 0;
        }
        .header {
            /*background: url('https://assets.ubuntu.com/v1/a88aa78c-card_background.png') no-repeat right bottom;
            background-size: cover;*/
            background-color: var(--dark-primary-color2);
            padding: 10px;
            min-height: 40px;
            color: #fff;
            border-radius: 2px 2px 0 0;
        }

        .body {
            margin: 0 16px 16px;
        }

        .heading {
            font-size: 18px;
            font-weight: 300;
        }

        .light {
            color: white;
        }

        .card-category {
            text-align: left;
            text-transform: uppercase;
            float: left;
            position: relative;
            left: 0;
            width: 100%;
        }

        .duration {
            text-align: right;
            width: 100%;
        }

        .card-actions {
            box-sizing: border-box;
            font-size: 1em;
            width: 100%;
            line-height: 2;
        }

        a {
            text-decoration: none;
        }

        .summary {
            height: 235px;
            margin: 0;
        }

        .meta {
            color: var(--secondary-text-color);
            font-size: 0.875em;
            white-space: nowrap;
        }

        .meta--tags {
            bottom: 0;
            padding-right: 10px;
            position: absolute;
        }

        .meta--tags .meta__tag::after {
            content: ' ,';
            display: inline-block;
        }

        .meta--tags .meta__tag:last-of-type::after {
            content: '';
        }

        .duration__value {
            color: var(--primary-text-color);
        }
        paper-divider{
            margin-top: 5px;
            margin-bottom: 5px;
        }
        iron-list {
          height: 50vh; /* don't use % values unless the parent element is sized. */
        }
        </style>



        <paper-card elevation="2">
            <div class="card-content">

                <div class="header vertical layout">
                    <div class="horizontal end-justified layout">
                        <div class="light card-category">[[firstcategory]]</div>
                    </div>
                    <h2 class="heading">[[heading]]</h2>
                </div>
                <div class="body vertical layout">
                    <p class="meta">
                        [[cardData.address]]
                        <!-- <time-pretty datetime="[[published]]">[[published]]</time-pretty> -->
                    </p>
                    <div class="summary">

                        <!-- <template is="dom-repeat" items="{{cardData}}"> -->

                            <iron-list items="[[cardData]]">
<template>
                            <div id="listItem">
                                <div class="primary">[[item.name]] </div>
                                <div class="seconday">[[item.address]] </div>
                                <!-- <div class="third">[[item.type]] </div> -->

                            </div>
                            <paper-divider class="divider-for-dark-background"></paper-divider>
<!-- </template> -->
</template>
</iron-list>



                    </div>
                    <div class="horizontal start-justified layout meta">

                    </div>
                </div>

            </div>
        </paper-card>

    </template>

    <script>

    Polymer({

        is: 'local-contractors',

        properties: {
            cardData:{
                type:Object,
                reflectToAttribute: true,
                notify: true,
                observer: '_cardDataChanged'
            },
            heading: String,
            category: Array,
            firstcategory: {
                type: String,
                computed: '_extractFirstCategory(category)',
            },
            difficulty: Number,
            duration: Number,
            tags: Array,
            published: {
                type: String,
            },
            url: String,
            currenturl: String,
            generateBackParameter: {
                type: String,
                computed: '_generateBackParameter(currenturl)',
            },
        },
        _cardDataChanged: function() {
            // var mapsAPI = document.querySelector('google-maps-api');
            // mapsAPI.addEventListener('api-load', function(e) {
            //     this.initialize()
            // });
            //console.log(this);
            console.log('_cardDataChanged local-contractors');
            //console.log(this.cardData);
        },
        _extractFirstCategory: function(category) {
            let firstcategory = category[0];
            return firstcategory;
        },

        _generateBackParameter: function(currenturl) {
            if (currenturl) {
                return '?backURL=' + encodeURIComponent(currenturl);
            }
            return '';
        },

    });

    </script>

</dom-module>
