<dom-module id="nb-incentives-styles">
  <template>
    <style>
    :host {
        var(--nb-incentives-width, 256px);
        display: block;
        box-sizing: border-box;
    }

    h1 {
      background-color: red;
      width: --nb-incentives-width;
    }

    #draggable {
	position: absolute;
	width: 150px;
	height: 150px;
	padding: 0.5em;
	left: 100px;
	top: 200px;
	display: none;}

#mapDiv45 {
	display: none;
	width: 250px;
	height: 250px;
	padding: 0.5em;
	position: absolute;
	border: 10px solid #FFFFFF;
	right: 0px;
	top: 600px;
    }

#mapDivImage {
	width: 400px;
	height: 400px;
	padding: 0.5em;
	position: absolute;
	border: 2px solid #eeeeee;}

#mapDiv {
	height: 70%;
	width: 100% }


#draggable {
	width: 150px;
	height: 150px;
	padding: 0.5em; }

#advanced-fields {
	display: none;
}

#results, #results2, #results3 { display: block; }
paper-card {

width: 100%;
  --paper-card-content:var(--light-primary-color);
  --paper-card-header-color	var(--light-primary-color);

  --paper-card-header: var(--light-primary-color);
  --paper-card-background-color:var(--light-primary-color2);
}


      paper-card {
        font-family: 'Ubuntu', Helvetica, Arial;
        height: 100%;
        position: relative;
        margin-right: 20px;
        padding:10px;

        --paper-card-content: {
          padding: 0;
        };
      }

      paper-card a {
        color: var(--primary-text-color);
        overflow: hidden;
      }

      .header {
        /*background: url('https://assets.ubuntu.com/v1/a88aa78c-card_background.png') no-repeat right bottom;
        background-size: cover;*/
        background-color: var(--dark-primary-color2);
        padding: 10px;
        min-height: 40px;
        color: #fff;
        border-radius: 2px 2px 0 0;
      }

      .body {
        margin: 0 16px 16px;
      }

      .heading {
        margin: 10px 0 0;
        font-family: 'Ubuntu', Helvetica, Arial;
        font-size: 28px;
        font-weight: 300;
      }

      .light {
        color: white;
      }

      #intro{

  		margin-bottom: 10px;
  	}
    #intro-card .header{

  		background-color: var(--dark-primary-color);
        color: var(--light-primary-text-color);
    }
    scary-cookie-consent {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      --cookie-consent-toolbar: {
        color: white;
        background: black;
      };
    }
    </style>
  </template>
</dom-module>
