
<link rel="import" href="../../../bower_components/google-apis/google-maps-api.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/paper-elements/paper-elements.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-divider/paper-divider.html">

<link rel="import" href="geo-location/geo-location.html">




<custom-style>
	<style is="custom-style">
	:host {
		display: block;
		@apply --paper-font-common-base;
	}
	.flex-horizontal-with-ratios {
		@apply --layout-horizontal;
	}

	.flexchild {
		@apply --layout-flex;
	}

	.flex2child {
		@apply --layout-flex-2;
	}

	.flex3child {
		@apply --layout-flex-3;
	}

	.container {
		background-color: #ccc;
		padding: 5px;
		margin: 0;
	}

	.container>div {
		padding: 15px;
		margin: 5px;
		background-color: white;
		min-height: 20px;
	}
	codelabs-card{
		height:410px;
	}
	#mapcontrols{
		display: block;
	}
	</style>
</custom-style>
<!--
shows incentives
-->

<!--
Example: Use the nb-incentives
```html
<nb-incentives></nb-incentives>
```

### Custom properties

Custom properties are there to provide access into the Shadow DOM
and act as guides for how to best succeed while customizing your element.

Key                              | Description                            | Usage/Defaults
---------------------------------|----------------------------------------|--------------------
`--nb-incentives-width`     | Width of the element                   | 256px


@group nb
@element nb-incentives
@demo
@test test/index.html
-->

<link rel="import" href="nb-incentives-styles.html">

<dom-module id="nb-incentives">

	<template>

		<style include="nb-incentives-styles"></style>
		<style is="custom-style" include="paper-item-shared-styles"></style>
		<app-toasts id="toasts"></app-toasts>
		<notification-toast id="notificationToast"></notification-toast>
		<confirm-dialog id="confirmDialog"></confirm-dialog>

		<google-maps-api api-key="{{google_maps_api_key}}" version="3" on-api-load="_mapsLoaded"></google-maps-api>

		<iron-ajax id="energy"
		on-error="_handleAjaxError"
		on-response="_handleAjaxEventfunction"
		loading-changed="_handleAjaxLoading"
		url="https://developer.nrel.gov/api/energy_incentives/v2/dsire.json"
		handle-as="json"
		debounce-duration="300"
		last-response="{{energy}}"></iron-ajax>





		<div class="horizontal layout" style="height:100%">

			<div class="flex-1">






				<paper-listbox>
					<paper-item on-click="toggleSection" data-section="location">

						<paper-icon-item  data-section="location">
							<iron-icon icon="nb-icons:my-location" slot="item-icon"></iron-icon>
							Location
						</paper-icon-item>
					</paper-item>
					<paper-item  on-click="toggleSection"  data-section="response">
						<paper-icon-item data-section="response">
							<iron-icon icon="nb-icons:attach-money" slot="item-icon"></iron-icon>
							Cost
						</paper-icon-item>
					</paper-item>
				</paper-listbox>


				<iron-collapse id="location">
					<div>
						<template is="dom-if" if="{{!geoResponseError}}">
							Your browser located you.
							<geo-location latitude="{{latitude}}" longitude="{{longitude}}" id="geo" geo-response="_geoResponse" geo-error="_geoError"></geo-location>
							<ul>
								<li>Latitude: [[latitude]]</li>
								<li>Longitude: [[longitude]]</li>
							</ul>
						</template>
						<template is="dom-if" if="{{geoResponseError}}">
							Cannot determine location



							<iron-form id="form1">
								<paper-input type="text" name="address" id="addressInput" required label="Address" value="{{address}}">
									<iron-icon icon="mail" slot="prefix"></iron-icon>
								</paper-input>
							</iron-form>
						</template>
						<br><br>
						<template is="dom-if" if="{{!mapInitialized}}">
							<paper-button raised on-tap="initialize" id="update_address">Update Address</paper-button>
						</template>
						<template is="dom-if" if="{{mapInitialized}}">
							<paper-button raised on-tap="_calculateValue" id="calculate">Calculate</paper-button>
						</template>
						<br>


						<paper-listbox>
								<paper-item on-click="toggleSection" data-section="advanced">
									Show / Hide Advanced Fields</a>
								</paper-item>
						</paper-listbox>
						<iron-collapse id="advanced">
						<div id="advanced">
							<div id='mapcontrols'>
								<paper-button raised id="btnTerrain" value="Terrain">Terrain</paper-button>
								<paper-button raised id="btnRoadmap" value="Roadmap">Roadmap</paper-button>
								<paper-button raised id="btnSatellite" value="Satellite">Satellite</paper-button>
								<paper-button raised id="btnHybrid" value="Hybrid">Hybrid</paper-button>
								<paper-button raised id="btnCompass" value="Compass">Compass</paper-button>
								<paper-button raised id="btnInspector" value="Inspect Roof"> Inspect Roof</paper-button>
							</div>

							<br /> INPUTS:
							<br />
							<div class="form-group" style="margin-right: 20px;">
								Orientation of the roof:
								<paper-input type="text" name="azimuth" id="azimuth" required label="azimuth" value="{{azimuth}}"></paper-input>
							</div>
							<div class="form-group" style="margin-right: 20px;">
								<paper-input type="text" name="tilt" id="tilt" required label="Tilt" value="{{tilt}}"></paper-input>
							</div>
							<div class="form-group" style="margin-right: 20px;">
								PPA Price:
								<paper-input type="text" name="ppa" id="ppa" required label="ppa" value="{{ppa}}"></paper-input>
							</div>
							<br><br>
						</div>
					</iron-collapse>
						<div class="output"></div>

					</div>
				</iron-collapse>

				<iron-collapse id="response">
					<div>
						<template is="dom-if" if="{{gotAPIResponse}}">

							<codelabs-card heading="Estimated Electricity Production"
								card-data="[[electricityAPI.apiResponse]]"
							></codelabs-card>
						</template>
					</div>
				</iron-collapse>




			</div>

			<div class="flex-3">

				<div class="thumbnail">
					<div style="width: 100%; height: 500px;" id="mapDiv"></div>
					<div id="mapDiv45"></div>
					<div style="display: none;" id="mapDivImage"> </div>
					<div id="draggable"><img src="img/compass.png"></div>
					<div class="caption-full">
					</div>




					<div id="results"></div>
					<div id="results2"></div>
					<div id="results3"></div>
				</div>
			</div>
		</div>
	</template>

	<script src="nb-incentives.js"></script>
</dom-module>
