<link data-require="intro.js@2.3.0" data-semver="2.3.0" rel="stylesheet" href="../../../bower_components/intro.js/introjs.css" />


<script data-require="intro.js@2.3.0" data-semver="2.3.0" src="../../../bower_components/intro.js/intro.js"></script>


<custom-style>
	<style is="custom-style">
	:host {
		display: block;
		@apply --paper-font-common-base;
	}

	.flex-horizontal-with-ratios {
		@apply --layout-horizontal;
	}

	.flexchild {
		@apply --layout-flex;
		padding: 10px;
	}

	.flex2child {
		@apply --layout-flex-2;
		padding: 10px;
	}

	.flex3child {
		@apply --layout-flex-3;
		padding: 10px;
	}

	.container {
		background-color: #ccc;
		padding: 5px;
		margin: 0;
	}

	.container>div {
		padding: 15px;
		margin: 5px;
		background-color: white;
		min-height: 20px;
	}

	codelabs-card {
		height: 410px;
	}
	codelabs-card2 {
		display:block;
		width:100%;
		height: 410px;
	}
	#mapcontrols {
		display: block;
	}


	</style>
</custom-style>
<!--
shows incentives
-->

<!--
Example: Use the nb-incentives
```html
<nb-incentives></nb-incentives>
```

### Custom properties

Custom properties are there to provide access into the Shadow DOM
and act as guides for how to best succeed while customizing your element.

Key                              | Description                            | Usage/Defaults
---------------------------------|----------------------------------------|--------------------
`--nb-incentives-width`     | Width of the element                   | 256px


@group nb
@element nb-incentives
@demo
@test test/index.html
-->

<link rel="import" href="nb-incentives-styles.html">

<dom-module id="nb-incentives">

	<template>
		<tk-loading-backdrop id="loading"></tk-loading-backdrop>

		<style include="nb-incentives-styles"></style>
		<style is="custom-style" include="paper-item-shared-styles"></style>
		<app-toasts id="toasts"></app-toasts>
		<notification-toast id="notificationToast"></notification-toast>
		<confirm-dialog id="confirmDialog"></confirm-dialog>

		<google-maps-api api-key="{{google_maps_api_key}}" version="3" on-api-load="_mapsLoaded"></google-maps-api>

		<iron-ajax id="energy"
		on-error="_handleAjaxError"
		on-response="_handleEnergyAjaxEventfunction"
		loading-changed="_handleAjaxLoading"
		url="https://developer.nrel.gov/api/pvwatts/v5.json"
		handle-as="json"
		debounce-duration="300"
		last-response="{{energy}}"></iron-ajax>

		<iron-ajax id="cost"
		on-error="_handleAjaxError"
		on-response="_handleAjaxEventfunction"
		loading-changed="_handleAjaxLoading"
		url="https://developer.nrel.gov/api/solar/open_pv/installs/summaries"
		handle-as="json"
		debounce-duration="300"
		last-response="{{cost}}"></iron-ajax>

		<iron-ajax id="incentives"
		on-error="_handleAjaxError"
		on-response="_handleAjaxEventfunction"
		loading-changed="_handleAjaxLoading"
		url="https://developer.nrel.gov/api/energy_incentives/v2/dsire.json"
		handle-as="json"
		debounce-duration="300"
		last-response="{{incentives}}"></iron-ajax>


		<iron-ajax id="companies"
		on-error="_handleAjaxError"
		on-response="_handleAjaxEventfunction"
		loading-changed="_handleAjaxLoading"
		url="https://data.ct.gov/resource/jh52-2msw.json?city=New%20Britain&state=CT&active=1&$where=credentialtype%20in(%27HIC%27,%27HIS%27)"
		handle-as="json"
		debounce-duration="300"
		last-response="{{companies}}"></iron-ajax>
		<geo-location latitude="{{latitude}}" longitude="{{longitude}}"
		id="geo" geo-response="_geoResponse" geo-error="_geoError"></geo-location>

		<fortune-cookie
		auto-save="true"
		id="introCookie"
	      name="introCookie"
	      value="{{introCookie}}"
		  on-handle-value-as="Object"
	      on-fortune-cookie-expired="_onCookieExpired"
	      on-fortune-cookie-load-empty="_onLoadCookieEmpty">
	    </fortune-cookie>


		<div class="horizontal layout" style="height:100%">
			<div class="flex-12" id="intro">
				<paper-card id="intro-card" elevation="2">
					<div class="header vertical layout">
					  <div class="horizontal justified layout">
						<h2 class="heading">Instructions</h2>
						<div class="light card-category">

							<paper-icon-button toggles on-click="toggleSection" data-section="instructions" icon="nb-icons:expand-less" title="expand"></paper-icon-button>
						</div>
					  </div>

					</div>
					<div class="card-content">
						<iron-collapse id="instructions">
						<p>
							Welcome to the New Britain Energy Tool. Click the interactive tour button or try yourself!
						</p>

							<p>
								<paper-button raised on-tap="_startIntro" id="tour">Start Interactive Tour </paper-button>


							</p>
						</iron-collapse>

					<p>
					</p>
			</div>
		</div>
	</paper-card>
		</div>
		</div>

		<div class="horizontal layout" style="height:100%">

			<div class="flex-2" id="step1" >
				<paper-card  elevation="2">
					<div class="header vertical layout">
					  <div class="horizontal end-justified layout">
						<div class="light card-category"></div>
					  </div>
					  <h2 class="heading">Location Information</h2>
					</div>
					<div class="card-content">



						<paper-tooltip for="step4" position="top">
							Your location information
						</paper-tooltip>

						<paper-listbox id="step3">
							<paper-item on-click="toggleSection" data-section="location" id="step4">

								<paper-icon-item  data-section="location">
									<iron-icon icon="nb-icons:my-location" slot="item-icon"></iron-icon>
									Location
								</paper-icon-item>
							</paper-item>
							<paper-item  on-click="toggleSection"  data-section="response" id="step5">
								<paper-icon-item data-section="response">
									<iron-icon icon="nb-icons:attach-money" slot="item-icon"></iron-icon>
									Cost
								</paper-icon-item>
							</paper-item>
						</paper-listbox>


						<iron-collapse id="location">
							<div>
								<template is="dom-if" if="{{!geoResponseError}}">
									Your browser located you.

									<ul>
										<li>Latitude: [[latitude]]</li>
										<li>Longitude: [[longitude]]</li>
									</ul>
								</template>
								<template is="dom-if" if="{{geoResponseError}}">
									Cannot determine location
								</template>


								<iron-form id="form1">
									<paper-input type="text" name="address" id="addressInput" required label="Address" value="{{address}}">
										<iron-icon icon="mail" slot="prefix"></iron-icon>
									</paper-input>
								</iron-form>

								<br><br>
								<div id="step6">
									<template is="dom-if" if="{{mapInitialized}}">
										<paper-button raised on-tap="_updateAddress" id="update_address">Update Address</paper-button>
									</template>
									<template is="dom-if" if="{{mapInitialized}}">
										<paper-button raised on-tap="_calculateValue" id="calculate">Calculate</paper-button>
									</template>
								</div>
								<br>


								<paper-listbox>
									<paper-item >
										<paper-button toggles raised class="green" on-click="toggleSection" data-section="advanced" id="step7">
										Show / Hide Advanced Fields</paper-button>
									</paper-item>
								</paper-listbox>
								<iron-collapse id="advanced">
									<div id="advanced">
										<div id='mapcontrols'>
											<paper-button raised id="btnTerrain" value="Terrain">Terrain</paper-button>
											<paper-button raised id="btnRoadmap" value="Roadmap">Roadmap</paper-button>
											<paper-button raised id="btnSatellite" value="Satellite">Satellite</paper-button>
											<paper-button raised id="btnHybrid" value="Hybrid">Hybrid</paper-button>
											<paper-button raised id="btnCompass" value="Compass">Compass</paper-button>
											<paper-button raised id="btnInspector" value="Inspect Roof"> Inspect Roof</paper-button>
										</div>

										<br /> INPUTS:
										<br />
										<div class="form-group" style="margin-right: 20px;">
											Orientation of the roof:
											<paper-input type="text" name="azimuth" id="azimuth" required label="azimuth" value="{{azimuth}}"></paper-input>
										</div>
										<div class="form-group" style="margin-right: 20px;">
											<paper-input type="text" name="tilt" id="tilt" required label="Tilt" value="{{tilt}}"></paper-input>
										</div>
										<div class="form-group" style="margin-right: 20px;">
											PPA Price:
											<paper-input type="text" name="ppa" id="ppa" required label="ppa" value="{{ppa}}"></paper-input>
										</div>
										<br><br>
									</div>
								</iron-collapse>
								<div class="output"></div>

							</div>
						</iron-collapse>
						<div id="step8">
							<iron-collapse id="response">

									<template is="dom-if" if="{{energy.apiResponse}}">

										<electricity-production id="energy-out" heading="Estimated Electricity Production"
										card-data="[[energy.apiResponse]]"
										></electricity-production>
									</template>

									<template is="dom-if" if="{{companies.apiResponse}}">

										<local-contractors id="companies-out" heading="Local Contractors"
										card-data="[[companies.apiResponse]]"
										></local-contractors>
									</template>



									<template is="dom-if" if="{{cost.apiResponse}}">

										<electricity-costs id="cost-out" heading="Costs"
										card-data="[[cost.result]]"
										></electricity-costs>
									</template>

									<template is="dom-if" if="{{incentives.apiResponse}}">

										<energy-incentives id="incentives-out" heading="Incentives"
										card-data="[[incentives]]"
										></energy-incentives>
									</template>


							</iron-collapse>
						</div>
					</div>
				</paper-card>


			</div>

			<div class="flex-3" id="step2">
				<paper-card  elevation="2">
					<div class="header vertical layout">
					  <div class="horizontal end-justified layout">
						<div class="light card-category"></div>
					  </div>
					  <h2 class="heading">Map Information</h2>
					</div>
					<div class="card-content">
				<div class="thumbnail">
					<div style="width: 100%; height: 500px;" id="mapDiv"></div>
					<div id="mapDiv45"></div>
					<div style="display: none;" id="mapDivImage"> </div>
					<div id="draggable"><img src="img/compass.png"></div>
					<div class="caption-full">
					</div>




					<div id="results"></div>
					<div id="results2"></div>
					<div id="results3"></div>
				</div>
			</div>
		</div>
	</paper-card>
		</div>
	</template>

	<script src="nb-incentives.js"></script>
</dom-module>
